$color-1: rgb(235, 20, 120);
$color-2: rgb(224, 38, 176);
$color-3: rgb(200, 26, 250);
$color-4: rgb(156, 30, 255);
$color-5: rgb(121, 69, 255);
$color-6: rgb(88, 80, 255);
$color-7: rgb(69, 94, 255);

$color-bg-light:#EAEAEA;
$color-bg-dark: #232323;

// * { background-color: rgba(255, 0, 0, 0.15); }

@mixin small {
	// Do deal with tiny width screens like Galaxy Fold
	@media screen and (min-width: 333px) {
		@content
	}
}

@mixin medium {
	@media screen and (min-width: 1000px) {
		@content	
	}
}

@mixin large {
	@media screen and (min-width: 1300px) {
		@content	
	}
}

@font-face {
	font-family: "Barlow";
	src: url("/fonts/Barlow-Regular.woff2") format('woff2');
	font-weight: normal;
}

@font-face {
	font-family: "Barlow";
	src: url("/fonts/Barlow-Bold.woff2") format('woff2');
	font-weight: bold;
}

html {
	font-size: 50%;
	
	@include small {
		font-size: 62.5%; /* So 1.8rem becomes 18px etc... */
	}
	
	font-family: "Barlow", sans-serif;
	
	color-scheme: light dark;
	background-color: $color-bg-light;
	@media (prefers-color-scheme: dark) {
		background-color: $color-bg-dark;
	}
	
	margin: 1.66rem 2rem;
}

body {
	font-size: 1.8rem;
	margin: auto;
	
	max-width: 70rem;
	
	@include medium {
		max-width: 110rem;
	}
	
	@include large {
		max-width: 140rem;
	}
}

@mixin grid {
	@include medium() {
		display: grid; 
		grid-template-columns: repeat(8, 1fr);
		grid-template-areas: 'left left main main main main main';
	}
	
	@include large() {
		grid-template-areas: 'left left main main main main';
	}
}

p { 
	margin-bottom: 2.7rem;
}

h1, h2 {
	font-weight: normal;
}

ul, ol {
	padding-left: 1.666rem;
	@include medium {
		padding-left: 0;
	}
}

ul {
	// list-style-type: disc;
}

a {
	color: $color-2;
	// color: darken($color-2, 5%);
	// @media (prefers-color-scheme: dark) {
	// 	color: lighten($color-2, 10%);
	// }
}

img {
	max-width: 100%;
	height: auto;
}



header {
	@include grid();
}

/* MASTHEAD */
.masthead {
	color: inherit;
	text-decoration: none;
	
	grid-column: left;
	
	display: block;
	padding-bottom: 2rem;
	
	h1 {
		font-weight: bold;
		letter-spacing: 0.1rem;
		text-transform: uppercase;
		font-size: inherit;
		margin: 0;
	}
	
	p {
		margin: 0;
	}
}

.text-body-container {
	@include grid()
}

.text-body {
	grid-column: main;
}

/* MAIN NAV ITEMS */

.mainNavBar {
	grid-column: main;
	
	.mainNavItem {
		margin: 0 0.25rem 1rem 0;
	}
}

@mixin mainNavItem-($name, $color, $dark-mode-brightness, $icon-position, $icon-width) {
	.mainNavItem-#{$name} {
		display: inline-block;
		padding: 0 0.75rem;
		padding-left: 3.25rem;
		
		line-height: 1.5;
		text-decoration: none;
		
		border-style: solid;
		border-width: 0.15rem;
		border-radius: 0.5rem;
		
		background-repeat: no-repeat;
		background-image: url("/mainNavIcon/#{$name}.svg");
		background-position: $icon-position;
		background-size: auto $icon-width;
		
		color: $color;
		border-color: $color;
		
		
		&.active {
			color: white;
			background-color: $color;
			background-image: url("/mainNavIcon/#{$name}-active.svg");
			box-shadow: mix($color, $color-bg-light, $weight: 50%) 0 0 10px 0;
		}
 
		@media (prefers-color-scheme: dark) {
			// Increase brightness for increased contrast to help legibility dark mode
			filter: brightness($dark-mode-brightness);
			
			&.active {
				box-shadow: $color 0 0 10px 0;
			}
		}
	}
}

@include mainNavItem-("home",     $color-1, 120%, 1.1rem center,  1.6rem);
@include mainNavItem-("about",    $color-2, 120%, 1.1rem center,  1.5rem);
@include mainNavItem-("projects", $color-3, 120%, 1.0rem center,  1.4rem);
@include mainNavItem-("blog",     $color-4, 130%, 1.0rem 0.7rem,  1.45rem);
@include mainNavItem-("contact",  $color-5, 150%, 1.0rem 0.85rem, 1.3rem);

.sectionSummariesNav .mainNavItem {
	margin: 0 0.25rem;
}



/* Section summary and footer */

.sectionSummariesNav {
	margin-top: 4rem;
	
	&::before {
		content: "";
		width: 40%;
		height: 0.3rem;
		border-radius: 9999px;
		display: block;
		background-color: $color-1;
		margin-bottom: 7.5rem;
		
		box-shadow: mix($color-1, $color-bg-light, $weight: 50%) 0 0 5px 0;
		
		@media (prefers-color-scheme: dark) {
			box-shadow: mix($color-1, $color-bg-dark, $weight: 75%) 0 0 5px 1px;
		}
	}
	
	p {
		line-height: 2;
		margin-bottom: 3.6rem;
	}
}

.footer-container {
	@include grid();
}

footer {
	grid-column: main;
}

footer .sectionSummariesNav {
	margin-top: 5.5rem;
}

.copyrightNotice {
	font-weight: bold;
	letter-spacing: 1px;
	padding-bottom: 3rem;
	
	color: lighten(black, 5%);
	@media (prefers-color-scheme: dark) {
		color: darken(white, 5%)
	}
}


.indexPageContainer {
	display: flex;
}