{{ define "main" }}
   <div class="text-body-container">
      <div class="text-body">{{ .Content }}</div>
   </div>

   <div class="projects-list">
      {{ range .Pages }}
         <article class="projects-list-item">
             {{ range .Resources.Match "thumbnail.*" }}
                 <img src="{{ .Permalink }}">
             {{ end }}
         
             <h2>
                 <a href="{{.Permalink}}">{{.Title}}</a>
                 {{ .Description }}
             </h3>
         </article>
      {{ end }}
   </div>
{{ end }}