{{/*  
Linked section list of site.
Used both in footer and homepage.
*/}}


<section class="navContainer siteSection">
    {{ if .IsHome }}
        <h1 class="navItem navItem-active">Torb</h1>
        {{ .Content }}
    {{ else }}
        <h2>
            <a href="/" class="siteSectionItem navItem">Torb</a>
        </h2>
        <p>
            {{ with .Site.GetPage "/" }}
                {{ .Description }}
            {{ end }}
        </p>
    {{ end }}
</section>

<section class="navContainer siteSection">
    <h2>
        <a href="/about" class="siteSectionItem navItem">About</a>
    </h2>


    <p>
        {{ with .Site.GetPage "/about" }}
            {{ .Description }}
        {{ end }}
    </p>

    <p>
        <a href="/about">More about me</a>
    </p>
</section>

<section class="navContainer siteSection">
    <h2>
        <a href="/blog" class="siteSectionItem navItem">Blog</a>
    </h2>

    {{ with .Site.GetPage "/blog" }}
        {{ range where .Pages "Params.featured" true }}
        <article>
            <h2>
                <a href="{{.Permalink}}">{{.Title}}</a>
             </h2>
             <p>{{ .Description }}</p>
        </article>
        {{ end }}
    {{ end }}
</section>

<section class="navContainer siteSection">
    <h2>
        <a href="/projects" class="siteSectionItem navItem">
            Projects
        </a>
    </h2>

    {{ with .Site.GetPage "/projects" }}
        {{ range where .Pages "Params.featured" true }}
            {{ partial "projectItem" . }}
        {{ end }}
    {{ end }}

    <p><a href="/projects">View all projects</a></p>
</section>

<section class="navContainer siteSection siteSection-contact">
    <h2>
        <a href="/contact" class="siteSectionItem navItem">Contact</a>
    </h2>

    <div class="contact">
        <p>
            {{ with .Site.GetPage "/contact" }}
                {{ .Description }}
            {{ end }}
        </p>

        {{ with .Site.GetPage "/contact" }}
            {{ .Content }}
        {{ end }}
    </div>
    
</section>
