<header>
    <nav class="mainNav">
    {{ $currentPage := . }}
    {{ range .Site.Menus.main }}
        {{ $name := lower .Name }}
        {{ if $currentPage.IsMenuCurrent "main" . }}
            <span 
                class="mainNavItem-active-{{ $name }}" 
                title="{{ .Title }}"
            >{{ $name }}</span>
        {{ else }}
            <a 
                class="{{ if $currentPage.HasMenuCurrent "main" . }}mainNavItem-active-{{ $name }}{{ else }}mainNavItem-{{ $name }}{{ end }}"  
                href="{{ .URL }}" 
                title="{{ .Title }}"
            >{{ $name }}</a>
        {{ end }}
    {{ end }}
    </nav>
</header>