{{/*  
Linked section list of site.

Should be wrapped in nav when used in homepage,
and wrapped in footer when used on all other pages (in the footer)
*/}}

<div class="sectionSummariesNav">    
    <p>
        My name is Torb Lunde Miranda and I'm a developer and designer based in Oslo, Norway.
        Get to know more about
        <a class="mainNavItem mainNavItem-about" href="/about/">about</a>
        me and this website.
    </p>
    
    <p>
        I've worked on many 
        <a class="mainNavItem mainNavItem-projects" href="/projects/">projects</a>
        such as
        <a href="/projects/omega-web-based-editor/">webapps</a>,
        <a href="/projects/house-of-salmon/">interactive installations</a> 
        or
        <a href="/projects/omega-365-webpage/">corporate websites</a>.
    </p>
    
    <p>
        From time to time I write on my 
        <a class="mainNavItem mainNavItem-blog" href="/blog/">blog</a>.
        My latest post is about
        {{ with .Site.GetPage "/blog" }}
            {{ range first 1 .Pages }}
            <a href="{{.Permalink}}">{{.Title}}</a>.
            {{ end }}
        {{ end }}
    </p>
    
    <p>
        You can 
        <a class="mainNavItem mainNavItem-contact" href="/contact/">contact</a> 
        via
        <a href="mailto:contact-web@torb.xyz">e-mail</a>
        or find me at 
        <a href="https://github.com/torb-no">GitHub</a>,
        <a href="https://octodon.social/@torb" rel="me">Mastodon</a>,
        <a href="https://www.linkedin.com/in/torb-xyz/">LinkedIn</a>.
    </p>
</div>