<!DOCTYPE html>

<title>{{ block "title" . }}{{ .Title }} – Torb{{ end }}</title>

<meta charset="utf-8">
{{ $sass := resources.Get "sass/main.scss" }}
{{ $style := $sass | resources.ToCSS }}
<link href='{{ $style.Permalink }}' rel='stylesheet' type='text/css' />
<meta name="viewport" content="width=device-width, initial-scale=1">

<body>
    {{ block "header" . }}
    <header>
        <a class="masthead" href="/">
            {{ partial "masthead.html" }}
        </a>
        
        {{ partial "mainNav.html" . }}
    </header>
    {{ end }}

    <main>
    {{ block "main" . }}
        BLOCK MAIN UNDEFINED
    {{ end }}
    </main>


    <footer class="content-column-container with-left-margin">
        <div class="content-column">
            {{ block "foooterSiteSections" . }}
                {{ partial "siteSections" . }}
            {{ end }}
            
            <small class="copyrightNotice">
                © 2023 Torb Lunde Miranda
            </small>
        </div>
    </footer>

</body>

<script data-host="https://microanalytics.io" data-dnt="false" src="https://microanalytics.io/js/script.js" id="ZwSg9rf6GA" async defer></script>